/node_modules
/public/hot
/public/storage
/public/thumbs
/public/uploads
/public/css/images
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
